
/* 
.header {
  height: 100px;
} */

.nav-button {
  height: 32px;
  width: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.message-area {
    height: 5em;
}

.nav-buttons {
    margin-top: 20px;
}