.cursor-pointer {
  cursor: pointer;
}

.float-right {
  float: right;
}

.text-bold {
    font-weight: bold;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-auto {
  flex: auto;
}
